
@font-face{ 
	font-family: 'MyWebFont';
    font-style: normal;
    font-weight: 400;
	src: url('../fonts/fontawesome-webfont.woff') format('woff');
}
@font-face {
    font-family: "Lato-Regular";
    font-style: normal;
    font-weight: 400;
    src:url("../fonts/Lato-Regular.woff") format("woff");
  }
  @font-face {
    font-family: "NotoSansShavian";
    font-style: normal;
    font-weight: 400;
    src:url("../fonts/NotoSansShavian-Regular.woff") format("woff");
  }
  @font-face {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 400;
    src:url("../fonts/OpenSans-Regular.woff") format("woff");
  }
  @font-face {
    font-family: "SourceCodePro";
    font-style: normal;
    font-weight: 400;
    src:url("../fonts/SourceCodePro-Regular.woff") format("woff");
  }
:root {
 --blue-theme: #831DE2;
 --light-bluegreen: #D2FDFD;
 --light-green: #05F2F2;
 --light-grey: #fbfbfb;
 --black-theme: #121b3b;
 --font-white: #f0f0f0;
 --royal-blue: #5F25EA;
 --title-blue: #380689;
 --banner-blue: #30007c;
}
body {
    /* background-image: url(../images/wallpaper_bg_01.jpg);
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% 100%; */
} 
body > div{
    overflow: hidden;
}
h1 {
    font-size: 36px !important;
    font-weight: 700;
    line-height: 1.6;
}
h2 {
    font-size: 26px!important;
    font-weight: 700!important;
    line-height: 1.6;
}
h3 {
    font-size: 24pxs;
    font-weight: 700;
    line-height: 1.6;
}
h4 {
    font-size: 18px!important;
    font-weight: 700;
    line-height: 1.6;
}
.bg-dark {
    opacity: 0.9;
}
#header {
    padding: 15px 0;
}
.brand-logo img {
    /* max-height: 150px;
    max-width: 100%; */
    width: 60px;
    height: 60px;
    top: 5px;
    position: absolute;
}
.brand-logo {
    color: var(--black-theme);    
    font-weight: 700;
}
.logo_text{
    /*color: #821CE3; /* #5F25EA */
    /* background: -webkit-linear-gradient(45deg, #D2FDFD, #831DE2); /*-webkit-linear-gradient(45deg, #831DE2, #4C29EE);*/
    /*-webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    top: 15px;
    position: absolute;
    left: 80px;
    font-size: 20px;
    font-weight: 600;
    font-family: "Lato-Regular",sans-serif;
    letter-spacing: 3px;
    color: var(--blue-theme);
}
.nav-menu > li {
    padding: 0px 15px 5px;
    position: relative;
    border-radius: 3px 3px 3px 3px;
    font-family: "MyWebFont",sans-serif;
    
}
.nav-menu > li > a {
    color: var(--black-theme);
    font-size: 14px;
    padding: 0px 15px 10px 15px;
    font-weight: 600;
    /* font-family: system-ui; */
}
.nav-menu li:hover > a {
    color: var(--blue-theme);
    /*box-shadow: 0 10px 12px -4px rgb(0 0 0 / 38%);*/
    padding: 0px 15px 10px 15px;
    /* background-color: #f9f9f9; */
}
.nav-menu li i {
    display: none;
}
.collapse.in { 
    display: block;
}
.navbar-toggler:focus {
    outline: unset;
}
/* .nav-menu li:hover i {
    transform: rotate(180deg);
    color: #D3FDFC;
} */
.nav-menu li:hover .sub_menu {
    display: block;
}
.nav-menu li:hover {
    /* background-color: var(--light-grey); */
    color: var(--black-theme); /*#05F2F2;*/
}
.nav-menu li i {
    color: #e74532;
}
.nav-menu {
    position: relative;
}
.sub_menu {
    background-color: var(--light-grey);
    position: absolute;
    z-index: 99;
    width: 250px;
    display: none;
    border-radius: 0 0 3px 3px;
    padding: 20px 0 10px;
    top: 100%;
    left: 0;
    box-shadow: 0 10px 12px -4px rgb(0 0 0 / 38%);
    min-width: 220px;
    border-left: 1px solid #efefef;
}
.sub_menu li a {
    color: var(--black-theme);
    font-size: 14px;
    font-weight: 600;
    /* font-family: system-ui; */
    padding: 5px 10px 5px 20px;
    display: block;
}
.sub_menu li a:hover {
    color: var(--blue-theme) !important;
    padding: 5px 10px 5px 20px;
    display: block;
    font-weight: 600;
}

.hamspan {
    display: block;
    height: 2px;
    width: 15px;
    background-color: var(--black-theme);
    margin-top: 2px;
    outline: none;
    cursor: pointer;
}
.navbar-collapse {
    /*background: #f0f0f0;*/
    padding-top: 10px;
}
a:hover,
a:focus {
  text-decoration: none!important;
}
a {
  color: inherit;
}
* {
  box-sizing: border-box;
}
ul > li,
li {
  list-style: none;
}
label {
  margin-bottom: 0.5rem;
}
body{
    font-family: "MyWebFont",sans-serif;
}
.bannerImg {
    height: 350px;
    width: 700px;
    left: 200px;
    position: relative;
}
.stickyHeader {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    background-color: #fff;
    margin-right: 100px;
    margin-left: 100px;
}
.banner {
    position: relative;
    /*display: flex;*/
    align-items: center;
    padding: 0px 0px;
    z-index: 1;
    font-size: 22px;
    margin-top: 100px;
}
.banner_title {
    margin-bottom: 25px;
    color: var(--banner-blue);
}
.banner_content{
    color: var(--black-theme);
    font-weight: 400;
    font-size: 21px;
    text-align: center;
    /* width: 895px; */
}
.video{
    width: 100%;
    overflow: hidden;
}
.banner-video{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
.industry{
    width: 100%;
}
.industry-col{
    font-size: 20px;
}
.industry h2, .usecases h2{
    margin-top: 15px;
}
.industry h2, .chooseus-heading h2{
    color: var(--banner-blue);
}
.industry-col .industry-image{
    max-width: 300px;
    height: 330px;
    margin: 0 auto;
}
.industry-col p{
    max-width: 100%;
    margin-bottom: 10px;
    color: var(--font-white);
    text-align: left;
    font-size: 18px;
}
.industry-col .industry-image img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.industry-image {
    max-width: 300px;
    height: 330px;
    margin: 0 auto;
}
.industry-col h3 {
  padding: 30px 0;
  font-size: 18px;
  font-weight: 700;
  color: var(--title-blue);
  text-align: center;
}
.industry-col h3:hover, .industry-col h3 a:hover {
  color: var(--blue-theme);
}
.industry-col p {
  font-size: 17px;
  color: var(--black-theme); /* #7b7b7b;*/
  font-weight: 400;
  text-align: center;
  margin-bottom: 40px;
}
.usecases{
    background-color: var(--black-theme);/*#821CE3; */
    color: var(--font-white);
    padding: 30px;
    text-align: center;
    width: 103%;
    position: relative;
    right: 16px;
}
.usecase_img img {
    height: 50px;
    width: 50px;
    object-position: center;
    object-fit: contain;
}
.usecase_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1170px;
    margin: 0 auto;
}
.usecase_content {
    padding: 50px 0 35px 0;
}
.usecase_content p {
    padding-top: 40px;
    font-size: 20px;
}
.chooseus{
    /*background-color: var(--black-theme); /* #5F25EA;*/
    color: var(--black-theme);
    padding: 30px;
    text-align: center;
    width: 103%;
    position: relative;
    right: 16px;
}
/* .chooseus-heading h2:after {
    content: "";
    position: absolute;
    left: 522px;
    top: 39px;
    width: 65px;
    height: 5px;
    background-color: var(--black-theme);
    display: block;
    border-radius: 10px;
} */
.chooseus-heading {
    text-align: center;
    padding: 15px 0 15px;
}
.chooseus .row {
    margin-left: -15px;
    margin-right: -15px;
    align-items: center;
}
.chooseus .row > div {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.choose-icon {
    /*margin-bottom: 50px;*/
    width: 150px;
    height: 180px;
    margin: 0px auto;
}
.choose-col {
    padding: 30px 0;
}
.choose-col h4 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    color: var(--black-theme);
    text-align: center;
}
.choose-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    mix-blend-mode: multiply;
}
.col-20{
    width: 20%;
}
#footer {
    padding: 70px 30px 15px;
    background-image: linear-gradient(115deg, #464178, var(--black-theme));
    color: var(--font-white);
    /* position: relative;
    font-weight: 300; */
    z-index: 9;
  }
  /* #footer::before {
    position: absolute;
    left: 0px;
    top: -30px;
    width: 100%;
    height: 60px;
    background: var(--black-theme);
    z-index: -1;
    content: "";
    border-radius: 100%;
  } 
  #footer::after {
    position: absolute;
    left: 0px;
    top: -30px;
    width: 100%;
    height: 30px;
    background: var(--black-theme);
    z-index: -1;
    content: "";
  }*/
  .footer-list{
    padding-left: 0px;
    font-size: 15px;
  }
  .footer-list-div h5 {    
    color: var(--red-color);
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 15px;
  }
  .footer-list li + li {
    padding-top: 15px;
  }
  .footer-list li a:hover {
    color: var(--blue-theme) !important;
  }
  .footer-list h5, .footer-list-div h5{
    color: var(--light-green);
  }
  .footer-list-div p{
    font-size: 15px;
  }
  .border_bar_footer li {
    display: flex;
    font-size: 14px;
  }
  .border_bar_footer li p {
    margin-left: 10px;
  }
  .cmpy_icons ul {
  /* padding: 0px;  */
  }
  .cmpy_icons li , .copyright li{
    display: inline;
    padding: 0 5px;
  }
  .copyright{
    font-size: x-small;
  }
  .w-100{
    width: 100%;;
  }

  @media screen and (max-width: 480px) {
    body {
      /* background-color: lightgreen; */
    }
    h1 {
        font-size: 24px !important;
        font-weight: 700;
        line-height: 1.6;
    }
    h2 {
        font-size: 20px!important;
        font-weight: 700!important;
        line-height: 1.6;
    }
    h3 {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.6;
    }
    h4 {
        font-size: 15px!important;
        font-weight: 700;
        line-height: 1.6;
    }
    .navbar{
        height: 60px !important;
    }
    .nav-menu li {
        background-color: #fff;
        border-radius: 0px;
        left: 32px;
    }
    .navbar-collapse {
        padding-top: 30px;
    }
    .banner_content{
        color: var(--black-theme);
        font-weight: 400;
        font-size: 17px;
        text-align: center;
        /* width: 895px; */
    }
    .video{
        width: 100%;
        overflow: hidden;
    }
    .stickyHeader {
        position: fixed;
        top: 0;
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
        left: 0px;
    }
    .logo_text {
        top: 15px;
        position: absolute;
        left: 60px;
        font-size: 18px;
        font-weight: 600;
        font-family: "Lato-Regular",sans-serif;
        letter-spacing: 2px;
        color: var(--blue-theme);
    }
    .brand-logo img {
        width: 50px;
        height: 50px;
        top: 5px;
        position: absolute;
        left: 5px;
    }
    .bannerImg {
        height: 290px;
        width: 420px;
        position: relative;
        left: 0px;
    }
    #footer {
        padding: 40px 15px 5px 15px;
        background-image: linear-gradient(115deg, #464178, var(--black-theme));
        color: var(--font-white);
        left: 0px;
        position: absolute;
        z-index: 1;
    }
    .footer-list-div p {
        font-size: 13px;
    }
  }